
.normal {
  margin: 0 auto;
  text-align: center;
}

.row {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.table {
  width: 1630px;
  margin: 0 auto;
}

.addTable {
  width: 400px;
  margin: 0 auto;
}

.table th {
  padding: 4px !important;
}

.table td {
  padding: 4px !important;
}

.addTable th {
  padding: 4px !important;
}

.addTable td {
  padding: 4px !important;
}
.currentRow{
  color: #495057;
  background-color: #e9ecef;
  font-weight:bold
}
.panel :global(.ant-collapse-content-box){
  padding: 4px;
}
.buttons{
  display: flex;flex-direction: column;justify-content: space-around;
}
